.box {
   width: 100px; 
   height: 100px;
   background-color: blue;
   color: brown;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   font-weight: bold;
   border: 2px solid black;

}